* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('Backgroundimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    /* font-weight: 100; */
}

/* Parent container of all elements */
.container {
    max-width: 60vw;
    min-height: 40vh;
    margin: auto;
    margin-top: 20vh;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    /* Add some opacity for better readability */
    padding-bottom: 2rem;
}

/* input element */
.container input {
    width: 40%;
    height: 2em;
    padding-left: 30px;
}

/* putting the search button inside the search bar */
span {
    position: relative;
    color: black;
}

span i {
    position: absolute;
    left: 10px;
    transform: translateY(50%);
}
/* city name heading */
h2 {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
}

/* current temperature  */
#today-temperature {
    color: white;
    text-align: center;
    font-size: 3rem;
}

/* current weather condition and min. and max. */
#weatherTxt,
#min-max-temperature {
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.5rem;
}

/* the container of weather condtion and weather emog */
.weather_Condition_Emog {
    display: flex;
    justify-content: center;
    transform: translateX(-2%);
}
/* weather imog */
#dailyImgIcon {
    width: 50%;
    /* transform: translateY(-10%); */
}
/* 4 days forecast container */
#forcast {
    width: 60%;
    min-height: 40%;
    margin: auto;
    background-color: rgba(33, 33, 111, 0.171);
    border-radius: 5%;
    margin-top: 2rem;
    padding: 1rem;
}

table {
    margin: auto;
}

table tr td:last-child {
    padding-left: 2rem;
}
/* setting forder of text input */
input[type="text"]:focus {
    border: 2px solid rgba(0, 0, 255, 0.61);
    outline: none; /* Remove the default outline */
}


/* ////////////////////// For Mobile(Small Screen)/////////////// */

@media screen and (max-width:1200px) {

    body {
        height: 100vh; /* Set the height to the full viewport height */
        margin: 0; /* Remove default margin */
        padding: 0;
        overflow-y: hidden;
    
    }
/* parent container of all elements */
    .container{
        max-width: 60vh;
        min-height: 40vh;
    }

/* 4 days forcast container */
    #forcast{
        width: 90%;
        min-height: 40%;
    }

    /* text input */
    .container input {
    width: 80%;
    height: 2em;
    padding-left: 30px;
}

/* contain spinner */
#loadingContainer{
    height: 40%;
    width: 40%;
    margin: auto;
}

}

